@page "/bookings/details"
@inject Fribergs_Alpha.Data.IBooking bookingRepository
@using Fribergs_Alpha.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Details</PageTitle>

<h1>Booking Details</h1>
<hr />

<div>
    @if (booking is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <img src="@booking.Car.CarPicUrl" alt="Picture of car" class="img-thumbnail" style="width: 350px; height: auto;" /><br /><br />
        <dl>
            <dt class="col-sm-2">Car:</dt>
            <dd class="col-sm-2">@booking.Car.Brand @booking.Car.CarModel (@booking.Car.Year)</dd>
      
            <dt class="col-sm-2">Pickup Date:</dt>
            <dd class="col-sm-10">@booking.PickUpDate.ToShortDateString()</dd>
            <dt class="col-sm-2">Return Date:</dt>
            <dd class="col-sm-10">@booking.ReturnDate.ToShortDateString()</dd>
            <dt class="col-sm-2">Total cost:</dt>
            <dd class="col-sm-10">@booking.TotalSum SEK</dd>
            <dt class="col-sm-2">Booked by:</dt>
            <dd class="col-sm-10">@booking.User.FirstName @booking.User.LastName</dd>
            <dt class="col-sm-2">Booking ID:</dt>
            <dd class="col-sm-2">@booking.BookingId</dd>
        </dl>
        <div>
            <a href="@($"/bookings/edit?bookingid={booking.BookingId}")">Edit</a> |
            <a href="@($"/bookings/all")">Back to List</a>
        </div>
    }
</div>

@code {
    Booking? booking;

    [SupplyParameterFromQuery]
    public int BookingId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        booking = bookingRepository.GetBookingById(BookingId);

        if (booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
