@page "/cars/details"
@inject ICar carRepository
@inject ICarCategory carCategoryRepository
@using Fribergs_Alpha.Data
@using Fribergs_Alpha.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>@car.Brand @car.CarModel @car.Year</h4>
    <hr />
    @if (car is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CarCategory</dt>
            <dt class="col-sm-10">@car.Category.Category</dt>
            <dt class="col-sm-2">Brand</dt>
            <dd class="col-sm-10">@car.Brand</dd>
            <dt class="col-sm-2">Model</dt>
            <dd class="col-sm-10">@car.CarModel</dd>
            <dt class="col-sm-2">Year</dt>
            <dd class="col-sm-10">@car.Year</dd>
            <dt class="col-sm-2">Color</dt>
            <dd class="col-sm-10">@car.Color</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@car.Description</dd>
            <dt class="col-sm-2">Price Per Day</dt>
            <dd class="col-sm-10">@car.PricePerDay</dd>
            <dt class="col-sm-2">Picture</dt>
            <dd class="col-sm-10"><img src="@car.CarPicUrl" alt="Picture of @car.CarModel" class="img-fluid" /></dd>
        </dl>
        <div>
            <AuthorizeView Policy="AdminRoleRequired">
                <Authorized>
                    <a href="@($"/cars/edit?carid={car.CarId}")">Edit</a> |
                </Authorized>
            </AuthorizeView>
            <a href="@($"bookings/create?carid={car.CarId}")">Rent now</a> |
            <a href="@($"/cars")">Back to List</a>
        </div>
    }
</div>

@code {
    Car? car;

    [SupplyParameterFromQuery]
    public int CarId { get; set; }

    protected override void OnInitialized()
    {
        car = carRepository.GetCarById(CarId);

        if (car is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
