@page "/cars"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ICar carRepository
@inject ICarCategory carCategoryRepository
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Our Cars</PageTitle>

<h1>Our Cars</h1>

<AuthorizeView Policy="AdminRoleRequired">
    <Authorized>
        <p>
            <a href="cars/create">Create New</a>
        </p>
    </Authorized>
</AuthorizeView>

<QuickGrid Class="table" Items="Cars">
    <PropertyColumn Property="car => car.Category.Category" Title="Category" />
    <PropertyColumn Property="car => car.Brand" Title="Brand" />
    <PropertyColumn Property="car => car.CarModel" Title="Model" />
    <PropertyColumn Property="car => car.Year" Title="Year" />
    <PropertyColumn Property="car => car.Color" Title="Color" />
    <PropertyColumn Property="car => car.Description" Title="Description" />
    <PropertyColumn Property="car => car.PricePerDay" Title="SEK/Day" />
    
    <TemplateColumn Context="car" Title="Picture">
        <img src="@car.CarPicUrl" alt="Picture of @car.CarModel" class="img-thumbnail" />
    </TemplateColumn>

    <TemplateColumn Context="car" Title="Handle">
        <a href="@($"bookings/create?carid={car.CarId}")">Rent now</a> |
        <a href="@($"cars/details?carid={car.CarId}")">Details</a> |
        <AuthorizeView Policy="AdminRoleRequired">
            <Authorized>
                <a href="@($"cars/edit?carid={car.CarId}")">Edit</a> |
                <a href="@($"cars/delete?carid={car.CarId}")">Delete</a>
            </Authorized>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code{
    IQueryable<Car>? Cars;

    protected override void OnInitialized()
    {
        Cars = carRepository.GetAllCars();
    }
}
